html,
body {
  height: 100%;
}

#root,
#InfoSidebar,
#boardContainerRow,
#boardContainerCol {
  height: 100%;
  min-height: 100%;
}
.fullheight{
  height: 100% !important;
  min-height: 100% !important;
}

#board{
  height: 800px;
  width: 1400px;
  /*margin-left:-500px;*/
  /*left: 50%;*/
  
  /*padding: 15px;*/
  position: relative;
}

#SidebarLeft{
  max-width:300px;
  color:#FFFFFF !important;
  top: unset !important;
}

.SidebarBoard:hover
{
  cursor: pointer;
  color:#FFFFFF !important;
}

#InfoSidebar{
  /*top: unset !important;*/
  padding-bottom: 0px !important;
}

#TabsContainer{
  display: flex;
  flex-direction: column; 
}

#commentsTab{
  flex:1;

}

header{
  position: fixed;
}


#SidebarLeft p{
  color:white !important;
  margin: 0px !important;
}

.boardsCollection li{
  color:white !important;
}


.sidebarFooter{
  color:white !important;
}

#SidebarLeft .collapsible-header
{
padding: 0px  !important;
}

#SidebarLeft .collapsible-body
{

  padding: 0px 0px 0px 16px !important;
  
  background-color: transparent !important;
}

#SidebarLeft li{
  line-height: 20px;

}

#SidebarCurrentUserBlock{
  padding: 0px 0px 0px 10px ;
  display: inline-block;
}

.SidebarUser:hover{
  cursor: pointer;
}

.SidebarUser .name:hover{
  color:#FFFFFF !important; 
}

.SidebarUser{
  display: flex;
  align-items:center;
}

.SidebarUser img{
  width: 24px;
  height: 24px;
}

.SidebarUser .name{
  padding-left:10px;
  /*font-size: 20px;*/
  word-wrap: break-word;
  /*max-width: 200px;*/
}




#SidebarCurrentUser{
  padding: 10px;
}

#SidebarCurrentUser img{
  display: inline-block;
  width: 48px;
  height: 48px;
  vertical-align: top;
}

#SidebarCurrentUser .name{
  font-size: 20px;
  word-wrap: break-word;
  max-width: 200px;
}

#SidebarCurrentUser .profileLink > a{
  color: #FFF !important;
}

.SidebarNavLeft{
 padding: 0px !important; 
}

.boardButtonRight{
  position: fixed;
  top: 86px;
  right: 16px;
}


.boardButtonLeft{
  position: fixed;
  top: 86px;
  left: 16px;
}

/*.SidebarNav{
 background-color: 
}*/

.boardContainer{
  /*max-width:1100px;
  max-height:600px;*/
  overflow: auto;

}

.rightSideChat{
  padding:10px !important;
}

.messageCard{
  max-width:500px;
  position:absolute;
}
.messageCard:hover{
  background-color: rgb(200,200, 200, 0.2);
}
.boardMessageTime{
  text-align: end;  
  margin: 0px;
}

.messageCard-content{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px !important;

}
/*
.messageCard-selected
{
  
}

*/
.messageCard-header{
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ddd;
}
.messageCard-handle:hover
{
  cursor: grab;
}

.messageCard-footer{
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.textEditor{
  border-radius: 7px;
}
.textEditor textarea {
  padding: 5px;
  color : rgb(255,255,255);
  font-size : 14px;
}

.textEditor .activeTextArea{
    border-bottom-width: 1px;
    background-color : rgba(0,0,0, 0.3);
}
.textEditor .inactiveTextArea{
  border-bottom: 0px solid transparent !important;
  background-color: unset; 


}

.messageCard-footer .collapsible-body{
  padding: 0px !important;
  border-width: 0px !important;
}

.messageHeaderImg{
  height:100%;
  max-height:25px;
  margin-right: 10px;
}

.collapsible{
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  margin-bottom: 0px;

}

#AddBoardButton{
  /*background-color: red;*/
  /*background-color: transparent !important;
  padding-left:0px !important;
  padding-right:0px !important;*/
}

.InlineTinyButton{
  background-color: transparent !important;
  padding-left:0px !important;
  padding-right:0px !important;
  height: unset;
  line-height: unset;
}

.collapsible-header
{
  background-color: transparent;
  padding:0px;
  justify-content: space-between;
  align-items: center;
}
/*.collapsible-header i{
width: unset!important;
margin-right: unset !important;
height: 1.6rem;
}
*/

.collapsible-header:hover
{
  background-color: rgba(255,255,255,0.2);
  
}