html,
body {
    height: 100%;
}

#root,
#InfoSidebar,
#InfoSidebarContainer,
#SidebarLeftContainer {
    height: 100%;
    min-height: 100%;
}

.fullheight {
    height: 100% !important;
    min-height: 100% !important;
}

#board {
    height: 800px;
    width: 1400px;
    /*margin-left:-500px;*/
    /*left: 50%;*/

    /*padding: 15px;*/
    position: relative;
}

#InfoSidebarContainer {
    position: fixed;
    right: 0px;
    left: auto;
    width: 300px;
    transition: transform 0.3s !important;
}

#SidebarLeftContainer {
    position: fixed;
    /*right:auto;*/
    left: 0px;
    width: 300px;
    transition: transform 0.3s !important;
}

.board-headerMessage{
    margin-top:100px;
}

.sidenav-fixed {
    position: absolute !important;
}

#SidebarLeft {
    max-width: 300px;
    color: #FFFFFF !important;
    top: unset !important;
    height: 100% !important;
}

#SidebarLeft .tab a{
    padding: 0 17px;
}

.SidebarBoard:hover {
    cursor: pointer;
    color: #FFFFFF !important;
}

#InfoSidebar {
    /*top: unset !important;*/
    padding-bottom: 0px !important;
}

#TabsContainer {
    display: flex;
    flex-direction: column;
}

#commentsTab {
    flex: 1;

}

header {
    position: fixed;
    top: 0px;
}


#SidebarLeft p {
    color: white !important;
    margin: 0px !important;
}

.boardsCollection li {
    color: white !important;
}


.sidebarFooter {
    color: white !important;
}

#SidebarLeft .collapsible-header {
    padding: 6px 0px 0px 0px !important;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 8px;
}

#SidebarLeft .collapsible-body {

    padding: 0px 0px 0px 16px !important;

    background-color: transparent !important;
}

#SidebarLeft li {
    line-height: 20px;

}

#SidebarCurrentUserBlock {
    padding: 0px 0px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#SidebarCurrentUserBlock .name {
    padding-left: 1rem;
}

#UploadImageInput .input-field {
    margin-top: unset;
    margin-bottom: unset;
    float: unset !important;
    overflow-y: auto;
}



#UploadImageInput .file-field .btn {
    line-height: unset;
    height: unset;
}

#UploadImageInput .input-field .btn {
    /*height: unset;
  line-height: unset;
  background-color: unset;*/
    color: white;
}

#UploadImageInput .file-path-wrapper {
    /*display: none !important;*/
    opacity: 0;
    line-height: 1px;
    /*height:1px;*/
    width: 1px;
    padding-left: 0px !important;
}

#UploadImageInput .file-path {
    height: unset;
    /*height:unset;*/
}

#SidebarCurrentUserButtons {
    padding: 0px 0px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SidebarUser:hover {
    cursor: pointer;
}

.SidebarUser .name:hover {
    color: #FFFFFF !important;
}

.SidebarUser {
    /*display: flex;
    align-items: center;
    height: 28px;*/
}

.SidebarUserFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SidebarUser img {
    width: 24px;
    height: 24px;
}

.SidebarUser .name {
    padding-left: 10px;
    /*font-size: 20px;*/
    word-wrap: break-word;
    /*max-width: 200px;*/
    flex: 1;
}


.SidebarUser button{
    background-color: transparent !important;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

#SidebarCurrentUser {
    padding: 10px;
}

#SidebarCurrentUser img {
    display: inline-block;
    width: 48px;
    height: 48px;
    vertical-align: top;
}

#SidebarCurrentUser .name {
    font-size: 20px;
    word-wrap: break-word;
    max-width: 200px;
}

#SidebarCurrentUser .profileLink>a {
    color: #FFF !important;
}

.SidebarNavLeft {
    padding: 0px !important;
}

.boardButtonRight {
    /*position: fixed;*/
    /*top: 86px;*/
    /*right: 16px;*/
}

.leftButtonsContainer {
    position: relative;
    top: 74px;
    left: 16px;
    margin-top: 0px;
}

.leftButtonsContainer li {
    margin-top: 12px;
}


.rightButtonsContainer {
    position: relative;
    top: 74px;
    right: 16px;
    margin-top: 0px;
}

.rightButtonsContainer li {
    margin-top: 12px;
}



.boardButtonLeft {
    /*position: fixed;*/
    /*top: 86px;*/
    /*left: 16px;*/
}


.galleryButton {
    /*top: 110px;*/
    /*left: 16px; */
}

.rightSideChat {
    padding: 10px !important;
}

.messageCard {
    max-width: 500px;
    position: absolute;
}

.messageCard:hover {
    background-color: rgb(200, 200, 200, 0.2);
}

.boardMessageTime {
    text-align: end;
    margin: 0px;
}

.messageCard-content {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px !important;

}

.messageCard-header {
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ddd;
}

.messageCard-handle:hover {
    cursor: grab;
}

.messageCard-footer {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.textEditor {
    border-radius: 7px;
}

.textEditor textarea {
    padding: 5px;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.textEditor .activeTextArea {
    border-bottom-width: 1px;
    background-color: rgba(0, 0, 0, 0.3);
}

.textEditor .inactiveTextArea {
    border-bottom: 0px solid transparent !important;
    background-color: unset;


}

.messageCard-footer .collapsible-body {
    padding: 0px !important;
    border-width: 0px !important;
}

.messageHeaderImg {
    height: 100%;
    max-height: 25px;
    margin-right: 10px;
}

.collapsible {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    margin-bottom: 0px;

}

#AddBoardButton {
    /*background-color: red;*/
    /*background-color: transparent !important;
  padding-left:0px !important;
  padding-right:0px !important;*/
}

.InlineTinyButton {
    background-color: transparent !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: unset;
    line-height: unset;
}


.InlineTinyButton .material-icons{
    margin-right: unset !important;
}

.collapsible-header {
    background-color: transparent;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
}

/*.collapsible-header i{
width: unset!important;
margin-right: unset !important;
height: 1.6rem;
}
*/

.collapsible-header:hover {
    background-color: rgba(255, 255, 255, 0.2);

}

.SidebarWorkshopStudents {
    padding-right: 0px !important;

}

.sidebarButton {
    width: 100% !important;
    margin-top: 8px;
}

body,
#boardContainer {
    width: 100%;
    min-width: 100%;
    height: 100vh;
    min-height: 100%;
}

#boardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#left,
#right {
    flex: 0 0 auto;
    height: 100%;
    transition: width 0.3s;
    /*min-height: 100%;*/
    /*position: relative;*/
    /*display: inline-block;*/
    width: 300px;
}


/*
        #innerContainer{
            position: fixed;
            top:0px;
            left:0px;
        }*/



#center {
    flex: 1;
    /*display: inline-block;*/
    /*position: relative;*/
    /*width:1000px;*/
    overflow: scroll;
    max-width: 1400px;


}

.BoardsCollectionLi{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.BoardsCollectionLi .Renambeable{ 
    flex: 2;
}

.BoardsCollectionLi .InlineTinyButton{ 
    /*flex: 1;*/
}


.modal{
    max-height: 94% !important;
}

#UploadsModal {
    background-color: black !important;

    z-index: 9999;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0rem 3rem;
    width: 50%;
    float: right;
}

.WorkshopButtons{
    display: flex;
    justify-content: flex-end;
}

.WorkshopButtons .btn{
    margin-left: 1rem;
}

.SelectCSV .input-field{
    padding-left: 0px;
}

.SelectCSV .file-path-wrapper{
    display:none;
}
.SelectCSV .file-field .btn{
    height: 36px !important;
    line-height: 36px !important;
}
.SelectCSV .CSVInstructions{
    font-size: 12px;
}

.messageImage{
    width: 200px;
    max-width:200px;
}


#ImgModalUploadImageToBoard{
    min-height: 200px;
    min-width: 200px;
}

.messageTransition{
    transition: transform 0.1s;
}
.InputProfile{
    margin-top: unset !important; 
    margin-bottom: unset !important;
}

