body {
    background-image:unset !important;
    background-color: black !important;
}

#gallery{
	padding: 70px 30px  30px 30px;
	/*background-color: black;*/
    /*height: 100% !important;*/
}

#GalleryImgs{
    margin-top: 10px;
    justify-content: flex-start;
    display: flex;
}

.gridImg img{
    width: 100% ;
    height: auto !important;
}

.gridImg{
	max-width: 200px;
    position: relative;
    background-color: #101010;
    /*cursor: pointer;*/
    padding: 10px;
    margin:4px;
    border: 1px solid rgba(200,200,200,0.1);
    overflow: hidden;
   flex-grow: 0;
   
}
